@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-neutral-200;
  }
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
/* global.css */
html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}
@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}

.epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* styles.css */
.card-bg {
  background-image: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
.br {
  border-radius: 75% 25% 100% 0% / 0% 100% 0% 100%;
}
.br1 {
  -webkit-border-top-left-radius: 250px;
  -moz-border-radius-topleft: 250px;
  border-top-left-radius: 250px;
}
